<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <i><small>Copyright &copy; Centennial College COMP229-019<br>

        Student: <a href="mailto:tk.kobari@my.centennialcollege.ca">Email</a>
     
      </small></i>
        <h6 class="display-6 navbar-text" style="font-size: 12px;">&copy;2023 All rights reserved</h6>
    </nav>
</footer>

