<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px; margin-top: 20px;">
        <h1 style="font-size: 36px; color: #333;">Welcome to my portfolio</h1>
        <p></p>
        
        <a href="/about" style="text-decoration: none;">
            <button style="background-color: #f5db14; color: #fff; padding: 10px 20px; border: none; cursor: pointer;">
                Learn more about me
            </button>
        </a>

        <div class="section">
          
            <p>To continuously pursue excellence in my personal and professional life by leveraging my skills and knowledge in software engineering. I am committed to lifelong learning, innovation, and collaboration, with the goal of making a positive impact on the world through technology. I aspire to inspire others, foster creativity, and contribute to the advancement of society through my work.</p>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
