<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<body>

    <div class="container mt-5">
        <h1 class="text-center">My Projects</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 project-card">
                    <section class="project">
                        <h2>Project 1</h2>
                        <img src="images/webd.jpeg" alt="Project 1" class="img-fluid project-image">
                        <div class="project-description">
                            <p>In my second semester, I actively participated in a campus navigation app development project. The app aimed to help students and visitors navigate our university campus more easily. My responsibilities included front-end and back-end development, creating interactive maps, navigation features, campus location information, and a user feedback system. This project made campus navigation more convenient and provided a valuable tool for the campus community.</p>
                        </div>
                    </section>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 project-card">
                    <section class="project">
                        <h2>Project 2</h2>
                        <img src="images/project2.jpeg" alt="Project 2" class="img-fluid project-image">
                        <div class="project-description">
                            <p>In the third semester, I took part in a travel planning app development project. The goal of the app was to assist users in easily creating personalized travel plans. I was responsible for front-end design and user experience, as well as back-end logic development, including travel destination recommendations, itinerary planning, dining and accommodation suggestions. This project provided travelers with a convenient platform to plan unforgettable journeys.</p>
                        </div>
                    </section>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 project-card">
                    <section class="project">
                        <h2>Project 3</h2>
                        <img src="images/project3.jpeg" alt="Project 3" class="img-fluid project-image">
                        <div class="project-description">
                            <p>For those who appreciate UI/UX design, I started a personal project to develop a car modification app. This app aims to connect car modification enthusiasts and allow them to share their modification projects and experiences. I was responsible for end-to-end development, including user registration, uploading modification photos, discussion forums, modification parts catalog, and user social features. This project is a combination of my personal passion and technical interest, aiming to build a passionate car modification community.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
