<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class="container mt-5">
    <h1>Services</h1>

    <div class="card mb-4">
        <section class="project">
            <h1>Project 1</h1>
            <img src="images/moblieapp.jpeg" alt="Project 1" class="img-fluid project-image">
            <div class="project-description">
                <p>Creating innovative and user-friendly mobile app solutions for various platforms and industries.</p>
            </div>
        </section>

        <section class="project">
            <h1>Project 2</h1>
            <img src="images/programming.jpeg" alt="Project 2" class="img-fluid project-image">
            <div class="project-description">
                <p>Offering personalized coding tutoring to help students excel in their programming coursework and projects</p>
            </div>
        </section>
        
        <section class="project">
            <h1>Project 3</h1>
            <img src="images/webd.jpeg" alt="Project 3" class="img-fluid project-image">
            <div class="project-description">
                <p>Providing responsive and visually appealing website design and development services to businesses and individuals.</p>
            </div>
        </section>
    </div>
</div>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
